/** 
    ==========================================================================
    #Footer
    ========================================================================== 

    Daremos estilo a nuestro footer bar.
    
**/

footer{
    align-self: flex-end;
    width: 100%;
    background-color: white;
    z-index: 4;
}