.c-sidebarCalendar{
    position: fixed;
    top: $global-nav-height;
    bottom: 0;
    left: -320px;
    background-color: white;
    transition: all ease-in-out 0.5s;
    z-index: 2;

    &--open{
        left: 0;
    }

    @media (max-width: 763px) {
        width: 100vw;
        left: -100vw;
        bottom: unset;
        background-color: #f0f0f0;
        
        &--open{
            left: 0;
        }
    }
}

.c-sidebarCalendar__item{
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-block: 10px;
}