.c-modal{
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 7;
    gap: 0px;
    background: white;
    border-radius: 15px;
    align-items: flex-start;
    justify-content: center;
    padding-top: 80px;
    overflow: auto;

    @media (max-width: 550px) {
        min-width: auto;
        width: 100%;
    }
}

.c-modal__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.c-modal__title {
    @include font-size(28px);
}

.c-modal__close{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: $global-primary-color;
}