.c-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.c-tooltip__text {
    visibility: visible;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s;
    position: fixed; /* Position fixed to relative to the viewport */
}

.c-tooltip__text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    z-index: 6;
}
