.c-datepicker{
    min-height: 50px;
    padding: 0 $input-padding-horizontal;
    border-radius: $input-radius;
    outline: none;
    border: none;
    background-color: $input-primary-color;
    border-color: $input-primary-color;
    color: #fff;
}