.c-login{
    min-height: 100vh;
    background-color: $global-third-color;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
}

.c-login__card{
    min-width: 400px;
    background-color: white;
    border-radius: 10px;
    padding-inline: 15px;
    padding-block: 25px;
    @include flex-column-center-space-around();
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;

    
    @media screen and (max-width: map-get($breakpoints, desktop)) {
        width: 75%;
    }

    @media screen and (max-width: map-get($breakpoints, tablet)) {
        width: 95%;
    }

    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @include flex-column-center-center();
    }
}

.c-login__marca{
    @include flex-column-center-center();
    @include font-size(24px);
    flex: 1 1;
    
    img{
        width: 150px;
        height: 150px;
    }

    @media screen and (max-width: map-get($breakpoints, mobile)) {
        margin-bottom: 15px;
        flex-direction: column;
    }
}

.c-login__form{
    @include flex-column-center-center();
    padding-left: 15px;
    flex: 1 1;
    text-align: start;
    padding-block: 15px;
    
    p{
        width: 100%;
    }

    input:not([type="checkbox"]){
        width: 250px;
    }

    .c-input__show_password{
        margin: 0;
        padding: 0;
    }
}