.c-nuevo_turno{
    width: max(400px, 40vw);
    max-height: 90vh;
    position: relative;
    left: calc(50% - max(400px, 40vw)/2);
    top: calc(50% - 45vh);
    background-color: white;
    padding: 25px 15px;
    overflow: auto;
    border-radius: $global-radius-small;
    display: flex;
    flex-direction: column;
}

.c-nuevo_turno__item{
    width: 100%;
    display: flex;
    margin: 10px 0;

    & > div{
        width: 100%;
    }

    &--right{
        justify-content: end;
    }
}

.c-nuevo_turno__hora{
    @include flex-center-space-around();

    & > div{
        width: min-content;
        flex: 1 1 50%;
    }

    & .c-datepicker{
        width: 100%;
    }
}

.c-nuevo_turno__end{
    margin-top: auto;
}